<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Static site -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="PlateModelRewrite" stopProcessing="true">
          <match url="^(hulpveren|luchtvering|verlagingsveren)/([^/]+)/([^/]+)/kt_[^/]+/?$" />
          <action type="Rewrite" url="{R:1}/{R:2}/{R:3}/" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>




